body{
    background-color: rgb(105, 221, 221);
    margin: 0px;
}
.navegador{
    background-color: rgb(29, 27, 27);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
}
.nav{
    display: block;
    font-size: 10px;
    float: right;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.menu{
    color: white;
}

.menu:hover {
    background-color: rgba(0,0,0,0.3)
}
h1{
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 4px 3px black;
    color: rgb(218, 32, 32);
    border: 2px black solid;
    border-radius: 8px;
    background-color: rgb(192, 189, 189);
    background-image: url(./imagen/gatito.png);
}
p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
    background-color: beige;
    opacity: 0.8;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
}

.gatito1{
    border-radius: 20px; 
    position: relative;
    left: 100px; 
    box-shadow: 0px 3px 8px black;
}


.gatito2{
    border-radius: 15px;
    position: relative;
    right: -200px; 
    box-shadow: 0px 3px 8px black;
}  

.gatico3{
    border-radius: 15px;
    position: relative;
    right: -300px;
    box-shadow: 0px 3px 8px black;
}
.gatito1:hover, .gatito2:hover, .gatico3:hover{
    box-shadow: 5px 5px 8px red;
  }

#subtitulo{
    color: black;
    text-align: center;
    font-size: 40px;
}


.alimentos{
    font-size: 30px;
}
 .cuidado{
     font-size: 30px;
 }
 .juguetes{
     font-size: 30px;
 }
 .medicina{
     font-size: 30px;
 }

 section a:hover{
      color: aliceblue;
      text-decoration: none;
      transition: color 0.3s ease;
 }
